<h4 class="title">{{this.videoGame.id != 0 ? 'Edit' : 'Add'}} Video Game</h4>

<div class="row" *ngIf="!!videoGame">
    <div class="col-md-6 col-md-offset-3">
      <form [formGroup]="formGroup" (validSubmit)="onSubmit()">
        <div class="form-group">
          <label class="control-label">Name</label> *
          <input [(ngModel)]="videoGame.name" type="text" class="form-control" formControlName="name">
        </div>
        <div class="form-group">
          <label class="control-label">Genre</label>
          <input [(ngModel)]="videoGame.genre" type="text" class="form-control" formControlName="genre">
        </div>
        <div class="form-group">
            <label class="control-label">Release Year</label>
            <input [(ngModel)]="videoGame.year" type="number" class="form-control" formControlName="year">
        </div>
        <div class="form-group">
            <label class="control-label">Rate</label>
            <ngb-rating [(ngModel)]="videoGame.rate" class="form-control" formControlName="rate"></ngb-rating>
        </div>                  
        <button class="btn btn-outline-secondary mr-2" type="button" (click)="onCancel()">Cancel</button>
        <button class="btn btn-primary pull-right" type="submit">Submit</button>
      </form>
    </div>
  </div>

  <div class="row" *ngIf="!videoGame">
      Loading ...
  </div>