<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Please confirm deletion:</h4>
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col">Name</div>
        <div class="col">{{videoGame.name}}</div>
      </div>
      <div class="row">
        <div class="col">Genre</div>
        <div class="col">{{videoGame.genre ? videoGame.genre : "not set"}}</div>
      </div>      
      <div class="row">
        <div class="col">Year</div>
        <div class="col">{{videoGame.year ? videoGame.year : "not set"}}</div>
       </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="c('')">No</button>
      <button type="button" class="btn btn-outline-danger" (click)="c('save')">Yes, Delete</button>
    </div>
</ng-template>

<button class="btn btn-outline-danger" (click)="showConfirmation(content)">
    <div>Delete</div>
</button>

