<div class="btn-group btn-group-toggle float-right mb-3">
    <a class="btn btn-primary" [uiSref]="RouterStates.add" uiSrefActive="active">Add Video Game</a>
</div>

<form>
  <div class="form-group form-inline">
      Full text search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
      <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" sortable="name"  (sort)="onSort($event)">Name</th>
      <th scope="col" sortable="genre" (sort)="onSort($event)">Genre</th>
      <th scope="col" sortable="year"  (sort)="onSort($event)">Release Year</th>
      <th scope="col" sortable="rate"  (sort)="onSort($event)">Rate</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let videoGame of service.videoGames$ | async">
      <th scope="row">{{ videoGame.id }}</th>
      <td><ngb-highlight [result]="videoGame.name" [term]="service.searchTerm"></ngb-highlight></td>
      <td><ngb-highlight [result]="videoGame.genre" [term]="service.searchTerm"></ngb-highlight></td>
      <td><ngb-highlight [result]="videoGame.year | year" [term]="service.searchTerm"></ngb-highlight></td>
      <td><ngb-rating [(rate)]="videoGame.rate" [readonly]="true"></ngb-rating></td>
      <td><a class="btn btn-outline-primary" [uiSref]="RouterStates.edit" uiSrefActive="active" [uiParams]="{ id: videoGame.id }">Edit</a></td>
      <td><video-game-delete [videoGame]="videoGame" (delete)="onDelete()"></video-game-delete></td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
        [collectionSize]="(service.total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>

  </form>
